body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --red: #c25e5e;
    --red-light: #e78b8b;
    --white: #ffffff;
}

.App {
    text-align: center;
}

.nav {
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    padding: 11px 13px;
    max-height: 59px;
    background-color: var(--red);
}

.token:not(:first-child) {
    margin-left: 13px;
}
.token {
    border-radius: 10px;
    border-color: var(--white);
    border-style: solid;

    height: 38px;
    background-color: var(--red);
    color: var(--white);
    padding: 7.5px 18px;
    font-weight: 600;
    font-size: 18px;
}


.token:hover,
.token:active, 
.token.active {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}

.token:focus {
    outline: none;
    background-color: none;
    box-shadow: 0 0 0 3px var(--red-light);
}

.text-editor {
    text-align: initial;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.text-editor__text-input {
    width: 50%;
    border: 0;
    font-size: 1em;
}

.text-editor__row {
    margin-bottom: .2em;
    list-style-type: "#  ";
}


/* SEPARATOR */
.separator {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
    height: 26px;
    z-index: 10;
}

.separator__add {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
    color: white;
    background-color: #c25e5e;
}

.separator__add::after {
    content: '+';
    position: relative;
    top: -3px;
    left: 2px;
}

.separator__add:active {
    top: 1px;
}

.separator__add:hover {
    cursor: pointer;
}

.separator__drag {
    display: inline-block;
    position: relative;
    top: -14px;
    left: -50vw;
    width: 46px;
    height: 17px;
    border-radius: 8px;
    background-color: #d8d8d8;
    border: 1px solid #bebebe;
    pointer-events: none;
}
.separator__drag:hover {
    cursor: row-resize;
}
.separator__drag::after {
    content: '===';
    letter-spacing: -5px;
    font-size: 26px;
    color: #bebebe;
    position: relative;
    top: -7px;
    left: 5px;
}